html, body {
    margin: 0;
}

p, h1, h4 {
    margin: 0;
}

:root {
    --theme-text-primary:  rgb(241, 239, 239);
    --theme-text-secondary: #383838;
    --theme-bg-dark: #3d3939;
    --theme-bg-light:  rgb(157, 222, 248);
    --theme-bg-grey: #3d3939;
  
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--theme-text-primary);
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: var(--theme-bg-light);
    background-size: cover;
  }
  