<template>
    <div>
    <app-header
      @toggleSideMenu="toggleSideMenu"
      :sideBarIsOpen="menuOpen"
    >
    </app-header>
    <sidebar
      @closeSidebar="toggleSideMenu"
      :open="menuOpen"
    >
    </sidebar>
    <router-view class="header-margin">
    </router-view>
    </div>
</template>

<script>
import AppHeader from '../components/Header.vue'
import Sidebar from '../components/Sidebar.vue'

export default {
  name: 'mainView',
  components: {
    AppHeader,
    Sidebar
  },
  data() {
    return {
      menuOpen: true
    }
  },
  methods: {
    toggleSideMenu() {
      this.menuOpen = !this.menuOpen
    }
  }
}
</script>

<style scoped>
.header-margin {
    margin-top: 60px;
}
</style>