<template>
  <div class="container">
    <h1>Countries</h1>
    <p>Filter by currency:</p>
    <app-drop-down
      :title="'Currency'"
      :options="currencyOptions"
      :selected="selectedCurrency"
      @selected="(selected) => {
        selectedCurrency = selected 
      }"
    />
    <div class="grid">
      <country-card class="mb-20" v-for="(country, index) in countries" :key="index" :country="country"></country-card>
    </div>
  </div>
</template>

<script>
import CountryCard from "../components/CountryCard.vue";
import AppDropDown from "../components/AppDropDown.vue";

export default {
  name: "overview",
  components: {
    CountryCard,
    AppDropDown
  },
  computed: {
    countries() {
      return this.$store.getters["countries/getFilteredCountries"];
    },
    currencyOptions() {
      return this.$store.getters["countries/getPossibleCurrencies"];
    },
    selectedCurrency: {
      get() {
        return this.$store.getters["countries/getSelectedCurrency"];
      },
      set(currency) {
        this.$store.dispatch("countries/setSelectedCurrency", currency);
      }
    }
  }
};
</script>

<style scoped>
.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
}
.mb-20 {
    margin-bottom: 20px;
}
.container {
  margin-top: 80px;
  padding: 20px;
  color: var(--theme-text-secondary)
}
</style>