<template>
    <select :name="title" :value="selected" @input="onClick($event)" class="field">
        <option disabled selected value="">Please select a currency</option>
        <option v-for="(option, index) in options" :key="index" :value="option">{{option}}</option>
    </select>
</template>

<script>
export default {
    props: {
        title: {
            required: true, 
            default: 'dropdown'
        },
        options: {
            required: true, 
            default: []
        },
        selected: {
            required: false
        }
    },
    methods: {
        onClick(e) {
            this.$emit('selected', e.target.value)
        }
    }
}
</script>

<style scoped>
.field {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
</style>