<template>
    <div>
        <button
            class="button"
            :disabled="disabled"
            @click="onClick"  
        >
            {{ text }}
        </button>
    </div>
</template>

<script>
export default {
    props: {
        disabled: {
            default: false
        },
        text: {
            default: 'Click me!',
            required: true
        }
    },
    methods: {
        onClick() {
            this.$emit('click')
        }
    }
}
</script>

<style>
.button {
  background-color: var(--theme-bg-light);
  border: none;
  border-radius: 4px;
  color: var(--theme-text-secondary);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
};
</style>