<template>
    <div class="card">
        <h4>
        {{country.name}}
        </h4>
        <p>
            Capital: {{country.capital}}
        </p>
    </div>
</template>

<script>
export default {
    props: {
        country: {
            required: true
        }
    },
}
</script>

<style scoped>
.card {
    min-width: 25%;
    max-width: 25%;
    min-height: 75px;
    background-color: var(--theme-bg-grey);
    content: '';
    border: none;
    border-radius: 4px;
    padding: 1em;
    color: var(--theme-text-primary)
}
</style>