<template>
    <div class="header">
        <img
            src="../assets/hamburger.svg"
            @click="toggleMenu"
            :style="hamburgerVisible"
        />
        <app-button 
            id="headerbutton"
            :style="buttonVisible"
            class="margin-right"
            :disabled="false"
            :text="'Home'"
            @click="navigateToInfo"
        />
    </div>
</template>

<script>
import AppButton from './Button.vue'
export default {
    components: {
        AppButton
    },
    props: {
        sideBarIsOpen: {
            required: true,
            default: true
        }
    },
    computed: {
        hamburgerVisible: function () {
            return this.sideBarIsOpen ? 'visibility:hidden;' : ''
        },
        buttonVisible: function() {
            return this.$route.name !== 'main' ? '' : 'visibility: hidden'
        }
    },
    methods: {
        toggleMenu() {
            this.$emit('toggleSideMenu')
        },
        navigateToInfo() {
            this.$router.push('/')
        }
    }
}
</script>

<style>
.header {
    width: 100%;
    top: 0;
    position: fixed;  
    padding-right: 75px;
    background-color:var(--theme-bg-dark);
    color: var(--theme-text-primary);
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.margin-right {
    margin-right: 325px;
}
</style>