<template>
    <div id="nav" class="sidenav">
        <div class="close" @click="closeNav">&times;</div>
        <router-link class= "text" :to="{name: 'overview'}">Overview</router-link>
    </div>
</template>

<script>
export default {
    props: {
        open: {
            required: true, 
            default: true
        }
    },
    methods: {
        closeNav() {
            this.$emit('closeSidebar')
        }
    },
    watch: {
        open: (newVal) => {
            if (newVal) {
                document.getElementById("app").style.marginLeft = "250px";
                document.getElementById("nav").style.width = "250px";
                document.getElementById("headerbutton").style.marginRight = "325px";
            } else {
                document.getElementById("app").style.marginLeft = "0px";
                document.getElementById("nav").style.width = "0px";
                document.getElementById("headerbutton").style.marginRight = "75px";
            }
        }
    }
}
</script>

<style scoped>
.sidenav {
  width: 250px;
  height: 100%;
  position: fixed; 
  z-index: 1;
  top: 0; 
  left: 0;
  background-color: var(--theme-bg-dark); 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}
.close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: var(--theme-text-primary);
  cursor:pointer;
}
.text {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--theme-text-primary);
  display: block;
  transition: 0.3s;
}
</style>