<template>
  <div id="app">
    <router-view>
    </router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
  async created() {
    await this.$store.dispatch('countries/getAllCountries')
  },
}
</script>

<style>
#app {
  transition: margin-left .5s;
  margin-left: 250px;
}
</style>
